

	*{
		margin:0px;
		padding:0px;
	}

	/*   顶部   */
	.box1{
		width:100%;
		height:35px;
		background:url("../img/top1.png");
	}
	.w{
		position:relative;
		width:1000px;
		margin:0px auto;
	}
	.box1-1{
		position:absolute;
		top:8px;
		right:0px;
		width:230px;
		height:20px;
		font:15px/20px "黑体";
		font-weight:bold;
		text-indent:0.5em;
	}
	.box1-1 img{
		float:left;
	}



	/*   导航栏   */
	.box2{
		width:100%;
		height:110px;
		border:1px solid black;
	}
	.box2-1{
		position:absolute;
		top:50px;
		left:50px;
		width:180px;
		height:40px;
		font:40px/40px "黑体";
		font-weight:bold;
		color:#F00;
	}
	.box2-2{
		position:absolute;
		top:50px;
		right:40px;
		width:650px;
		height:40px;
	}
	.box2-2 li{
		float:left;
		width:105px;
		height:20px;
		text-align:center;
		font:15px/20px "黑体";
		list-style:none;
	}
	.box2-2 ul .lib{
		border-right:2px solid black;
	}
	.box2-2 li a{
		display:block;
		width:100px;
		height:35px;
		text-decoration:none;
		color:black;
	}
	.box2-2 li a:hover{
		font-weight:bold;
		border-bottom:3px solid black;
	}



	/*   背景图片   */

	.box3{
		width:100%;
		height:402px;
		background:url("../img/banner.gif") no-repeat center 0;
		background-size:100% 100%;
		padding-top:20px;
	}

	
	.boxw{
		margin-top:30px;
	}
	.box4{
		float:left;
	}
	.box4-1{
		width:220px;
		height:30px;
		border-bottom:2px solid #9C9C9C;
		font:17px/30px "黑体";
	}
	
	


	.box4-2{
		width:220px;
		height:62px;
		margin-top:10px;
		border-bottom:1px dashed #9C9C9C;
	}
	.box42-1 div,.box42-2 div,.box4-3 div,.box44-1 div{
		font:13px/25px "黑体";
	}
	.box42-1 img,.box42-2 img,.box4-3 img,.box4-4 img{
		float:left;
	}
	.box42-2{
		clear:both;
	}



	
	.box4-3{
		width:220px;
		height:90px;
		margin-top:7px;
		border-bottom:1px dashed #9C9C9C;
	}
	.box4-3 p,.box44-1 p{
		margin-top:10px;
		font-size:14px;
	}




	.box4-4{
		width:220px;
		height:57px;
		margin-top:7px;
	}

	.box5{
		float:right;
		width:720px;
		height:615px;
	}
	.box5 .box5p2,.box5 .box5p{
		text-align:center;
		font:20px/30px "黑体";
	}
	.box5 .box5p{
		font-size:25px;
	}
	.box5-1{
		width:720px;
		height:70px;
		border-bottom:1px dashed #9C9C9C;
		clear:both;
	}
	.box5-1 ul li{
		float:left;
		width:88px;
		height:25px;
		list-style:none;
		line-height:28px;
	}
	.box5-1 ul li img{
		float:left;
	}
	.box5-1 ul li p{
		font-size:14px;
	}
	.box6{
		width:720px;
		height:50px;
		margin-top:7px;
	}
	.box6,.box7,.box8,.box9,.box10{
		font:10px/15px "黑体";
	}
	.box6,.box7,.box8,.box9,.box10{
		width:720px;
	}
	.box7{
		height:100px;
	}
	.box8{
		height:90px;
	}
	.box9{
		height:110px;
	}
	.box10{
		height:80px;
	}
	.box11{
		height:30px;
		text-align:center;
	}



	/*   底部  */
	.footbox{
		clear:both;
		width:100%;
		height:100px;
		background:#EAEAEA;
		padding:44px 0 10px 0;
	}
	.foot{
		width:300px;
		height:60px;
	
		margin:0 auto;
		text-align:center;
		font:15px/15px "黑体";
		
	}
	.foot p{
		margin:3px 0;
	}