

	*{
		margin:0px;
		padding:0px;
	}

	/*   顶部   */
	.box1{
		width:100%;
		height:35px;
		background:url("../img/top1.png");
	}
	.w{
		position:relative;
		width:1000px;
		margin:0px auto;
	}
	.box1-1{
		position:absolute;
		top:8px;
		right:0px;
		width:230px;
		height:20px;
		font:15px/20px "黑体";
		font-weight:bold;
		text-indent:0.5em;
	}
	.box1-1 img{
		float:left;
	}



	/*   导航栏   */
	.box2{
		width:100%;
		height:110px;
		border:1px solid black;
	}
	.box2-1{
		position:absolute;
		top:50px;
		left:50px;
		width:180px;
		height:40px;
		font:40px/40px "黑体";
		font-weight:bold;
		color:#F00;
	}
	.box2-2{
		position:absolute;
		top:50px;
		right:40px;
		width:650px;
		height:40px;
	}
	.box2-2 li{
		float:left;
		width:105px;
		height:20px;
		text-align:center;
		font:15px/20px "黑体";
		list-style:none;
	}
	.box2-2 ul .lib{
		border-right:2px solid black;
	}
	.box2-2 li a{
		display:block;
		width:100px;
		height:35px;
		text-decoration:none;
		color:black;
	}
	.box2-2 li a:hover{
		font-weight:bold;
		border-bottom:3px solid black;
	}



	/*   背景图片   */

	.box3{
		width:100%;
		height:402px;
		background:url("../img/banner.gif") no-repeat center 0;
		background-size:100% 100%;
		padding-top:20px;
	}
	.box3-1{
		width:555px;
		height:100px;
		margin:0 auto;
		border:1px solid red;
	}
	.box31-1{
		float:left;
		width:80px;
		height:80px;
		margin:10px 0 0 10px;
		background:red;
		font:35px/40px "黑体";
		text-align:center;
		color:white;
	}
	.box31-2{
		float:left;
		width:320px;
		height:80px;
		margin:10px 0 0 10px;
		font:80px/80px "黑体";
		color:white;
	}
	.box31-3{
		float:left;
		width:110px;
		height:80px;
		margin:10px 0 0 10px;
		font:27px/40px "黑体";
		color:white;
	}
	



	/*关于致美创意的文字介绍*/
	.box4{
		width:100%;
		height:280px;
	}
	.box4-1{
		width:900px;
		height:30px;
		margin:30px auto;
		background:#2D3237;
		text-align:center;
	}
	.box4-1 span{
		font:30px/30px "黑体";
	}
	.box4-1 .span1{
		color:#FF0000;
	}
	.box4-1 .span2{
		color:white;
	}
	.box41-2{
		position:absolute;
		top:36px;
		left:49px;
		width:409px;
		height:9px;
		border-bottom:1px solid #2D3237;
	}
	.box41-4{
		position:absolute;
		top:36px;
		right:49px;
		width:409px;
		height:9px;
		border-bottom:1px solid #2D3237;
	}
	.box41-3{
		position:absolute;
		top:38px;
		right:465px;
		width:65px;
		height:18px;
		font:15px/15px "simhei";
	}
	.box415{
		text-align:center;
		margin-top:42px;
	}
	.box415 .p1{
		margin:10px 0px;
		font:20px/20px "simhei";
	}
	.box415 p span{
		font-weight:bold;
		font-size:25px;
	}
	.box415 .pd{
		font-size:25px;
	}


	/*   底部   */
	.footbox{
		width:100%;
		height:100px;
		background:#EAEAEA;
		padding:44px 0 10px 0;
	}
	.foot{
		width:300px;
		height:60px;
	
		margin:0 auto;
		text-align:center;
		font:15px/15px "黑体";
		
	}
	.foot p{
		margin:3px 0;
	}